<div class="main-container">
  <div class="filter-section">
    <p class="filterby-label opacity-5 mb-3">Filter By</p>
    <div class="collapsible-section">
      <div class="collapsible">
        <span>Collection</span> <i class="fas arrow-up-down"></i>
      </div>
      <div class="content collection-filter">
        <ul class="filter">
          <li class="filter-item"><input type="checkbox" /> Collection 1</li>
          <li class="filter-item"><input type="checkbox" /> Collection 2</li>
          <li class="filter-item"><input type="checkbox" /> Collection 3</li>
          <li class="filter-item"><input type="checkbox" /> Collection 4</li>
          <li class="filter-item"><input type="checkbox" /> Collection 5</li>
        </ul>
      </div>

      <div class="collapsible">
        <span>Color</span> <i class="fas arrow-up-down"></i>
      </div>
      <div class="content color-filter">
        <ul class="filter">
          <li class="filter-item"><input type="checkbox" /> Color 1</li>
          <li class="filter-item"><input type="checkbox" /> Color 2</li>
        </ul>
      </div>

      <div class="collapsible">
        <span>Category</span> <i class="fas arrow-up-down"></i>
      </div>
      <div class="content category-filter">
        <ul class="filter">
          <li class="filter-item"><input type="checkbox" /> Category 1</li>
          <li class="filter-item"><input type="checkbox" /> Category 2</li>
        </ul>
      </div>

      <div class="collapsible">
        <span>Price Range</span> <i class="fas arrow-up-down"></i>
      </div>
      <div class="content category-filter">
        <ul class="filter">
          <li class="filter-item pr-3">
            <input type="range" style="width: 100%;" />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="product-section">
   
    
    <div class="card-grid">
      <div class="loader">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
      </div>
      <!-- <div class="card">
        <div class="card-thumbnail">
          <img src="http://via.placeholder.com/640x360" alt="Lounge" />
        </div>
        <div class="card-body">
          <div class="product-meta">
            <div class="product-details">
              <a href="#product-details" class="product-title">Coombes</a>
              <p class="product-category">Lounge</p>
            </div>
            <p class="product-price">$2,600</p>
          </div>
          <div class="product-rating-section">
            <div class="product-rating">
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <i class="fas fa-shopping-cart card-shopping-icon"></i>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
